/.env
/.idea/
/.vscode/
/.DS_Store
/node_modules/
/vendor/
/.worktrees/
/storage/logs/*.log
/storage/cache/*
/public/uploads/*
/public/uploads/tickets/*
/public/tickets/*
!/storage/logs/.gitkeep
!/storage/cache/.gitkeep
!/public/uploads/.gitkeep
!/public/uploads/tickets/
!/public/uploads/tickets/.gitkeep
!/public/tickets/.gitkeep
